!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Portfolio
    = csrf_meta_tags
    = csp_meta_tag
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:100,300,500,700&display=swap", :rel => "stylesheet"}/
    %link{:href => "flexslider.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:src => "jquery.flexslider.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    :css
      body {
        font-family: 'Roboto', sans-serif;
      }
    %script{:charset => "utf-8", :type => "text/javascript"}
      :cdata
        $(window).load(function() {
        $('.flexslider').flexslider();
        });
  %body
    .header
      .container
        %nav.navbar.navbar-expand-lg.navbar-light
          %a.navbar-brand{:href => "/"} Home
          %button.navbar-toggler{"aria-controls" => "navbarColor03", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarColor03", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          #navbarColor03.collapse.navbar-collapse
            %ul.navbar-nav.mr-auto
              %li.nav-item.active
                %a.nav-link{:href => "/projects"} Portfolio
              %li.nav-item.active
                %a.nav-link{:href => "#"} Blog
              %li.nav-item.active
                %a.nav-link{:href => "#"} About
              %li.nav-item.active
                %a.nav-link{:href => "#"} Contact
            .autor
              %hr
                %h1 Piotr Skłodowski
    = yield
    .container
      .footer
        %ul
          %li
            %a{ :href => 'https://github.com/Zelears'}
              = image_tag("https://image.flaticon.com/icons/svg/25/25231.svg")
          %li
            %a{ :href => 'https://www.linkedin.com/in/piotr-sk%C5%82odowski-8181a818b/'}
              = image_tag("https://image.flaticon.com/icons/svg/1384/1384030.svg")
      .autor
        %h3 @ 2019 Piotr Skłodowski
    %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}

